extends layout

block content
  #map
  #webcamoverlay
    #webcamdisplay
  script(id="mapScript" webcamData=webcamData src="/javascripts/map.js")
  script(defer src=`https://maps.googleapis.com/maps/api/js?key=${MAPS_JS_API_KEY}&callback=initMap`)