#map,
#webcamoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#webcamoverlay {
  display: none;
  cursor: wait;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.700);
}

#webcamdisplay {
  
}